html,
body {
  margin: 0;
  padding: 0;
}

p{
  color:#8EA604;
  font-size:24px;
  font-style:italic;
}

body {
  background: #BF3100;
  color: white;
  position: relative;
  font-family: 'Futura',
    monospace;
}

h1{
  color:#EC9F05;
  font-size:42px;
}
a {
  color: #ffffff;
  font-size: 14px;
  display: block;
}

.profile-link{
  color:#000000;
}
/* ":hover" will effect the color
 of links when you "mouseover" */
a:hover,
a:visited:hover {
  color: #F5BB00;
}

/* ":visited" will effect the color
 of links you have previously clicked on */
a:visited {
  color: #f58428;
}

.link-heading {
  display: block;
  font-size: 18px;
  font-style:normal;
}

.square-one .inner {
  background: #8EA604;
}

.square-two .inner {
  background: #FF4E00;
}

.square-three .inner {
  background: #EC9F05;
}

.outer {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
}

.left {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 340px;
  height: 345px;
  box-sizing: border-box;
  margin: 0 auto;
}

.square {
  position: absolute;
  display: flex;
  height: 240px;
  width: 240px;
  transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
}

.wrap:hover .square-one {
  left: 48px;
  top: 52px;
}

.square-one {
  left: 0;
  top: 0;
}

.square-two {
  left: 52px;
  top: 52px;
}

.wrap:hover .square-three {
  left: 56px;
  top: 52px;
}

.square-three {
  left: 104px;
  top: 104px;
}

.inner {
  height: 240px;
  width: 4px;
  margin-right: 8px;
}
